<!DOCTYPE html>
<html>
<head>
    <title>TradePulse Dashboard</title>

    <style>
        body {
            background: #0f172a;
            color: white;
            font-family: Arial;
            text-align: center;
        }

        .card {
            background: #1e293b;
            margin: 15px;
            padding: 20px;
            border-radius: 10px;
        }

        .BUY {
            color: lime;
        }

        .SELL {
            color: red;
        }

        .NO {
            color: yellow;
        }
    </style>

</head>

<body>

<h1>📊 TradePulse Live Signals</h1>

{% for s in signals %}

<div class="card">

    <h2>{{ s.market }}</h2>

    <h3>Price: {{ s.price }}</h3>

    <h2 class="{{ s.signal }}">
        {{ s.signal }}
    </h2>

</div>

{% endfor %}

</body>
</html>
